@page
@model CSE3PAX.Pages.Manager.ManagerIndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Manager Index</title>
</head>
<body>
    <!-- ---------- MAIN SECTION ---------- -->
    <main>
        <div class="container-fluid p-0">
            <div class="row text-white">
                <!-- Welcome container - for small, medium and large screen sizes -->
                <div class="col-lg-5 mx-lg-5 col-md col-sm my-2 flex-grow-1 mx-1 mx-lg-0 m-3 box-shw manager-background bd-radius d-flex flex-column">
                    <!-- Headings -->
                    <div class="p-5 d-flex align-items-center">
                        <!-- Increased padding to increase height -->
                        <h2 style="text-shadow: 2px 2px 2px rgba(0,0,0,0.53);">Welcome, @Model.FullName.</h2>
                    </div>
                    <!-- Paragraph -->
                    <div class="welcome-message-container my-1 whte-txt mx-lg-5 flex-wrap">
                        <!-- Adjusted margin here -->
                        <p class="fs-6">Utilise this platform to organise lecturer schedules and generate detailed reports for enhanced operations.</p>
                    </div>
                </div>
            </div>
            <!-- Line Separator -->
            <div class="row justify-content-center">
                <!-- Centering content -->
                <div class="col text-center">
                    <!-- Centering content horizontally -->
                    <hr class="underline">
                    <br>
                </div>
            </div>
            <!-- Lecturer Workloads section -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <div class="col card me-5 box-shw p-5">
                            <h4 class="my-3 listHeading">Lecturer Workloads</h4>
                            <div class="mb-4 mx-3">
                                <form method="post">
                                    <button type="submit" name="buttonType" value="users" class="btn btn-dark box-shw my-1 pe-3" style="width:130px;">
                                        <i class="bi bi-eye mx-1 pe-1"></i>View
                                    </button>
                                    <button type="submit" name="buttonType" value="hideUsers" class="btn btn-dark box-shw my-1 pe-3" style="width:130px;">
                                        <i class="bi bi-eye mx-1 pe-1"></i>Hide
                                    </button>
                                </form>
                            </div>
                            @if (Model.Users.Any())
                            {
                                <div style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
                                    <table id="lecturerWorkloadsTable" class="table table-striped table-hover table-bordered border-2 align-middle m-1">
                                        <colgroup>
                                            <col style="width: 30%;">
                                            <col style="width: 30%;">
                                            <col style="width: 30%;">
                                            <col style="width: 30%;">
                                        </colgroup>
                                        <thead>
                                            <tr class="bg-secondary box-shw text-light">
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col" class="text-center">Work Hours pw</th>
                                                <th scope="col" class="text-center">Work Load Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.Users)
                                            {
                                                <tr>
                                                    <td class="text-center">@user.FirstName</td>
                                                    <td class="text-center">@user.LastName</td>
                                                    <td class="text-center">@user.WorkHours</td>
                                                    <td class="text-center">@user.LoadCapacityPercentage%</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

