@page
@model CSE3PAX.Pages.Manager.StaffSchedulesModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Schedules</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container-fluid py-5">
        <h1 class="mb-3" style="color: #3163bc"><i class="bi bi-person-workspace" style="color: #3163bc"></i> Staff Schedules</h1>
        <p class="my-4">Simplify your staff scheduling tasks! This page allows you to select a lecturer and examine their assigned schedule.</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body box-shw">

                        <div class="row">
                            <!-- Lecturer Selection -->
                            <div class="col-lg-3">
                                <div class="card mb-4 border-0">
                                    <div class="card-body text-center">
                                        <h4 class="my-3">Select a Lecturer</h4>
                                        <div class="container d-flex justify-content-center">
                                            <form method="post">
                                                <div class="mb-3">
                                                    <select name="selectedUserId" id="lecturer" class="form-select">
                                                        <option value="">@((Model.SelectedUserId == 0) ? "Select a Lecturer" : $"{Model.SelectedFirstName} {Model.SelectedLastName}")</option>
                                                        @foreach (var lecturer in Model.Lecturers)
                                                        {
                                                            <option value="@lecturer.UserId">@($"{lecturer.FirstName} {lecturer.LastName}")</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <button type="submit" class="btn btn-primary box-shw" style="width:130px;"><i class="bi bi-save2 me-2"></i>Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.SelectedUserId == 0)
                            {
                                <div class="col-lg-8">
                                    <br />
                                    <br />
                                    <br />
                                    <div class="card mb-4 border-0 align-items-center">
                                        <div class="alert alert-warning" role="alert">
                                            <strong>Select a lecturer!</strong>
                                            You need to select a lecturer!
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <!-- Personal Information -->
                                <div class="col-lg-4">
                                    <div class="card mb-4 border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="mb-0">Full Name:</p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="text-muted mb-0">@Model.SelectedFirstName @Model.SelectedLastName</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="mb-0">Email:</p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="text-muted mb-0">@Model.SelectedEmail</p>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="mb-0">Workload:</p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="text-muted mb-0">@Model.SelectedConcurrentLoadCapacity</p>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="mb-0">Subject Instances:</p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="text-muted mb-0">@Model.SelectedSubjectInstanceCount</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card mb-4 border-0">
                                        <div class="card-body">
                                            
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <p class="mb-0">Subject Expertise:</p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="col-sm-32">
                                                        @if (!string.IsNullOrEmpty(Model.SelectedExpertise01))
                                                        {
                                                            <p class="text-muted mb-1"> - @Model.SelectedExpertise01.ToUpper()</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.SelectedExpertise02))
                                                        {
                                                            <p class="text-muted mb-1"> - @Model.SelectedExpertise02.ToUpper()</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.SelectedExpertise03))
                                                        {
                                                            <p class="text-muted mb-1"> - @Model.SelectedExpertise03.ToUpper()</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.SelectedExpertise04))
                                                        {
                                                            <p class="text-muted mb-1"> - @Model.SelectedExpertise04.ToUpper()</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.SelectedExpertise05))
                                                        {
                                                            <p class="text-muted mb-1"> - @Model.SelectedExpertise05.ToUpper()</p>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.SelectedExpertise06))
                                                        {
                                                            <p class="text-muted mb-1"> - @Model.SelectedExpertise06.ToUpper()</p>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Schedule -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body box-shw">
                        <h4 class="my-3">Schedule</h4>
                        <div class="mb-3">
                            <a href="/Manager/CreateSubjectInstance" class="btn btn-success box-shw"><i class="bi bi-calendar-check mx-1 pe-1"></i>Schedule Management</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered box-shw mt-3 bdr">
                                <thead class="text-center">
                                    <tr class="align-middle lecturerBx box-shw">
                                        <th class="col-lg-3">Subject Period</th>
                                        <th class="col-lg-5">Subject Name</th>
                                        @foreach (var monthYear in Model.Next12Months)
                                        {
                                            <th class="col">
                                                @monthYear
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var instance in Model.SubjectInstances)
                                    {
                                        <tr class="text-center align-middle">
                                            <td class="col">
                                                <b>Start Date:</b> @instance.FullStartDate <br />
                                                <b>End Date:</b> @instance.FullEndDate
                                            </td>
                                            <td class="col">@instance.SubjectName</td>
                                            @{
                                                var startMonthIndex = Model.Next12Months.IndexOf(instance.StartDate);
                                                var endMonthIndex = Model.Next12Months.IndexOf(instance.EndDate);
                                            }
                                            @for (int i = 0; i < Model.Next12Months.Count; i++)
                                            {
                                                <td class="col @(i >= startMonthIndex && i <= endMonthIndex ? "cellHighlighter" : "")">
                                                </td>
                                            }
                                            <td>
                                                <form method="post">
                                                    <input type="hidden" name="instanceId" value="@instance.InstanceID" />
                                                    <input type="hidden" name="lecturerId" value="@instance.LecturerID" />
                                                    <input type="hidden" name="userID" value="@instance.UserID" />
                                                    <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
                                                    <button type="submit" asp-page-handler="Edit" class="btn btn-danger">Edit</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
