@page
@model CSE3PAX.Pages.Lecturer.LecturerIndexModel
@{
}


<!-- ---------- MAIN SECTION ---------- -->
<main>
    <div class="container-fluid p-0">
        <div class="row text-white">

            <!-- Welcome container - for small, medium and large screen sizes -->
            <div class="col-lg-5 mx-lg-5 col-md col-sm my-2 flex-grow-1 mx-1 mx-lg-0 m-3 box-shw lecturerBx bd-radius d-flex flex-column">
                <!-- Headings -->
                <div class="p-5 d-flex align-items-center">
                    <!-- Increased padding to increase height -->
                    <h2 style="text-shadow: 2px 2px 2px rgba(0,0,0,0.53);">Welcome, @Model.FullName.</h2>
                </div>
                <!-- Paragraph -->
                <div class="welcome-message-container my-1 whte-txt mx-lg-5 flex-wrap">
                    <!-- Adjusted margin here -->
                    <p class="fs-6">You're all set! Your schedule for the upcoming months is available below. Take a moment to review your upcoming classes.</p>
                </div>
            </div>

        </div>
        <!-- Line Separator -->

        <hr class="underline">
        <h4 class="availability-status gry-txt">Schedule</h4>

        <div class="mb-4">
            <table class="table table-bordered box-shw bdr" style="background-color: white;">
                <thead class="text-center">
                    <tr class="align-middle lecturerBx box-shw">
                        <th class="col-lg-3">Subject Code</th>
                        <th class="col-lg-5">Subject Name</th>
                        @foreach (var monthYear in Model.Next12Months)
                        {
                            <th class="col">
                                @monthYear
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var instance in Model.SubjectInstances)
                    {
                        <tr class="text-center align-middle">
                            <td class="col">@instance.InstanceName</td>
                            <td class="col">@instance.SubjectName</td>
                            @{
                                var startMonthIndex = Model.Next12Months.IndexOf(instance.StartDate);
                                var endMonthIndex = Model.Next12Months.IndexOf(instance.EndDate);
                            }
                            @for (int i = 0; i < Model.Next12Months.Count; i++)
                            {
                                <td class="col @(i >= startMonthIndex && i <= endMonthIndex ? "cellHighlighter" : "")">
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col">
                <hr class="underline">
                <h4 class="availability-status gry-txt">Personal Information</h4>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">User ID:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.UserID</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Lecturer ID:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.LecturerID</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.FullName</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.Email</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Workload:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.ConcurrentLoadCapacity</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Subject Instances:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.InstanceCount</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Subjects:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        @foreach (var subjectName in @Model.subjectNames)
                                        {
                                            <p class="text-muted mb-1"> - @subjectName</p>
                                        }
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Subject Expertise:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        @if (!string.IsNullOrEmpty(Model.Expertise01))
                                        {
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-1"> - @Model.Expertise01.ToUpper()</p>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise02))
                                        {
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-1"> - @Model.Expertise02.ToUpper()</p>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise03))
                                        {
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-1"> - @Model.Expertise03.ToUpper()</p>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise04))
                                        {
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-1"> - @Model.Expertise04.ToUpper()</p>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise05))
                                        {
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-1"> - @Model.Expertise05.ToUpper()</p>
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise06))
                                        {
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-1"> - @Model.Expertise06.ToUpper()</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>