@page
@model CSE3PAX.Pages.Admin.AdminIndexModel
@{
}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<body>
<!-- ---------- MAIN SECTION ---------- -->
  <main >
    <div class="container-fluid p-0">
        <div class="row text-white">

                <!-- Welcome container - for small, medium and large screen sizes -->
                <div class="col-lg-5 mx-lg-5 col-md col-sm my-2 flex-grow-1 mx-1 mx-lg-0 m-3 box-shw admin-ble bd-radius d-flex flex-column">
                    <!-- Headings -->
                    <div class="p-5 d-flex align-items-center">
                        <!-- Increased padding to increase height -->
                        <h2 style="text-shadow: 2px 2px 2px rgba(0,0,0,0.53);">Welcome, @Model.FullName.</h2>
                    </div>
                    <!-- Paragraph -->
                    <div class="welcome-message-container my-1 whte-txt mx-lg-5 flex-wrap">
                        <!-- Adjusted margin here -->
                        <p class="fs-6">Step into Latrobe's comprehensive platform, tailored to managing subjects, staff, and schedules. Utilise insightful tools to navigate the academic administration with confidence.</p>
                    </div>
                </div>



            </div>
        <!-- Line Separator -->
            <div class="row justify-content-center">
                <!-- Centering content -->
                <div class="col text-center">
                    <!-- Centering content horizontally -->
                    <hr class="underline">
                    <h4 class="availability-status">Staff Scheduling Status</h4>
                    <br>
                </div>
            </div>

            <div class="row align-items-start">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="doughnut-chart-container">
                        <!-- Doughnut -->
                        <canvas id="availabilityChart" class="doughnut" style="width:500px"></canvas>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <div class="col card me-5 box-shw p-5">
                        <h4 class="my-3 listHeading">Lecturer Workloads</h4>

                        <div class="mb-4 mx-3">
                            <form method="post">
                                <button type="submit" name="buttonType" value="users" class="btn btn-dark box-shw my-1 pe-3" style="width:130px;">
                                    <i class="bi bi-eye mx-1 pe-1"></i>View
                                </button>

                                <button type="submit" name="buttonType" value="hideUsers" class="btn btn-dark box-shw my-1 pe-3" style="width:130px;">
                                    <i class="bi bi-eye mx-1 pe-1"></i>Hide
                                </button>
                            </form>
                        </div>

                        @if (Model.Users.Any())
                        {
                            <table id="lecturerWorkloadsTable" class="table table-striped table-hover table-bordered border-2 align-middle m-1">
                                <thead>
                                    <tr class="bg-secondary box-shw text-light">
                                        @* <th scope="col">User ID</th> *@
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col" class="text-center">Work Hours</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            @* <td class="text-center">@user.UserId</td> *@
                                            <td class="text-start ps-5">@user.FirstName</td>
                                            <td class="text-start ps-5">@user.LastName</td>
                                            <td class="text-center col-2">@user.ConcurrentLoadCapacity</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <!-- Bootstrap CSS and other imports -->
    <!-- Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- custom JavaScript file -->
    <script src="/js/adminIndex.js"></script>

</body>