@page
@model CSE3PAX.Pages.Admin.CreateUserModel
@{
}
<form method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <input asp-for = "IsAdmin" id="IsAdmin" name="IsAdmin" />
        <label for="IsAdmin">Administrator</label>

        <input asp-for = "IsManager" id="IsManager" name="IsManager" />
        <label for="IsManager">Manager</label>

        <input asp-for = "IsLecturer" id="IsLecturer" name="IsLecturer" />
        <label for="IsLecturer">Lecturer</label>
    </div>
    <div id="lecturerFieldsDiv">
        <div>
            <label for="workHours">Work Hours:</label>
            <input type="text" id="workHours" name="workHours" />
        </div>
        <div>
            <label for="expertise01">Expertise 01:</label>
            <select id="expertise01" name="expertise01">
                <option value=""></option>
                @foreach (var classification in Model.SubjectClassifications)
                {
                    <option value="@classification">@classification</option>
                }
            </select>
        </div>
        <div>
            <label for="expertise02">Expertise 02:</label>
            <select id="expertise02" name="expertise02">
                <option value=""></option>
                @foreach (var classification in Model.SubjectClassifications)
                {
                    <option value="@classification">@classification</option>
                }
            </select>
        </div>
        <div>
            <label for="expertise03">Expertise 03:</label>
            <select id="expertise03" name="expertise03">
                <option value=""></option>
                @foreach (var classification in Model.SubjectClassifications)
                {
                    <option value="@classification">@classification</option>
                }
            </select>
        </div>
        <div>
            <label for="expertise04">Expertise 04:</label>
            <select id="expertise04" name="expertise04">
                <option value=""></option>
                @foreach (var classification in Model.SubjectClassifications)
                {
                    <option value="@classification">@classification</option>
                }
            </select>
        </div>
        <div>
            <label for="expertise05">Expertise 05:</label>
            <select id="expertise05" name="expertise05">
                <option value=""></option>
                @foreach (var classification in Model.SubjectClassifications)
                {
                    <option value="@classification">@classification</option>
                }
            </select>
        </div>
        <div>
            <label for="expertise06">Expertise 06:</label>
            <select id="expertise06" name="expertise06">
                <option value=""></option>
                @foreach (var classification in Model.SubjectClassifications)
                {
                    <option value="@classification">@classification</option>
                }
            </select>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>

<script src="~/js/CreateUser.js"></script>