@page
@model CSE3PAX.Pages.Admin.GenerateReportsModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"Generate Reports"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Heading and paragraph -->
    <h1 class="admin-txt my-4 mx-3"><i class="bi bi-file-earmark-bar-graph-fill pe-3"></i>Generate Reports</h1>
    <p>Administrators can obtain an overview and sight from the Generate Report section which includes information regarding active users, ongoing subjects and the status of currently running subject instances.</p>

    <!-- Container -->
    <div class="container-fluid py-5">
        <form method="post">
            <div class="row">
                <div class="col-lg-14">
                    <div class="card mb-4">
                        <div class="card-body box-shw">
                            <div class="text-center">
                                <h4 class="my-3 listHeading">Users</h4>
                            </div>
                            <!-- View Users Button -->
                            <div class="button-container">
                                <div class="mb-3">
                                    <form method="post">
                                        <button type="submit" name="buttonType" value="users" class="btn btn-dark box-shw"><i class="bi bi-eye mx-1 pe-1"></i>View Users</button>
                                    </form>
                                </div>
                                <!-- Hide users button -->
                                <div class="mb-3">
                                    <form method="post">
                                        <button type="submit" name="buttonType" value="hideUsers" class="btn btn-dark box-shw"><i class="bi bi-eye mx-1 pe-1"></i>Hide Users</button>
                                    </form>
                                </div>
                            </div>
                            <!-- Users Table -->
                            <div class="table-responsive">
                                @if (Model.Users.Any())
                                {
                                    <table class="table table-striped table-hover table-bordered border-2 align-middle m-1">
                                        <thead>
                                            <tr class="text-center align-middle bg-secondary box-shw text-light">
                                                <th scope="col">User ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">User Type</th>
                                                <th scope="col">Exp 1</th>
                                                <th scope="col">Exp 2</th>
                                                <th scope="col">Exp 3</th>
                                                <th scope="col">Exp 4</th>
                                                <th scope="col">Exp 5</th>
                                                <th scope="col">Exp 6</th>
                                                <th scope="col">Current Load</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.Users)
                                            {
                                                <tr>
                                                    <td class="text-center">@user.UserId</td>
                                                    <td>@user.FirstName</td>
                                                    <td>@user.LastName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.UserType</td>
                                                    <td>@user.Expertise01</td>
                                                    <td>@user.Expertise02</td>
                                                    <td>@user.Expertise03</td>
                                                    <td>@user.Expertise04</td>
                                                    <td>@user.Expertise05</td>
                                                    <td>@user.Expertise06</td>
                                                    <td class="text-center">@user.ConcurrentLoadCapacity</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body box-shw">
                            <div class="text-center">
                                <h4 class="my-3 listHeading">Subjects</h4>
                            </div>
                            <!-- View Subjects Button -->
                            <div class="button-container">
                                <div class="mb-3">
                                    <form method="post">
                                        <button type="submit" name="buttonType" value="subjects" class="btn btn-dark box-shw"><i class="bi bi-eye mx-1 pe-1"></i>View Subjects</button>
                                    </form>
                                </div>
                                <!-- Hide Subjects button -->
                                <div class="mb-3">
                                    <form method="post">
                                        <button type="submit" name="buttonType" value="hideSubjects" class="btn btn-dark box-shw"><i class="bi bi-eye mx-1 pe-1"></i>Hide Subjects</button>
                                    </form>
                                </div>
                            </div>
                            <!-- Subjects Table -->
                            <div class="table-responsive">
                                @if (Model.Subjects.Any())
                                {
                                    <table class="table table-striped table-hover table-bordered border-2 align-middle m-1">
                                        <thead>
                                            <tr class="text-center align-middle bg-secondary box-shw text-light">
                                                <th scope="col">Subject ID</th>
                                                <th scope="col">Subject Code</th>
                                                <th scope="col">Subject Name</th>
                                                <th scope="col">Subject Classification</th>
                                                <th scope="col">Year Level</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var subject in Model.Subjects)
                                            {
                                                <tr>
                                                    <td class="text-center">@subject.SubjectId</td>
                                                    <td class="text-center">@subject.SubjectCode</td>
                                                    <td>@subject.SubjectName</td>
                                                    <td>@subject.SubjectClassification</td>
                                                    <td class="text-center">@subject.YearLevel</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body box-shw">
                            <div class="text-center">
                                <h4 class="my-3 listHeading">Subject Instances</h4>
                            </div>
                            <!-- View Subject Instances Button -->
                            <div class="button-container">
                                <div class="mb-3">
                                    <form method="post">
                                        <button type="submit" name="buttonType" value="subjectInstances" class="btn btn-dark box-shw"><i class="bi bi-eye mx-1 pe-1"></i>View Instances</button>
                                    </form>
                                </div>
                                <!-- Hide subject instances button -->
                                <div class="mb-3">
                                    <form method="post">
                                        <button type="submit" name="buttonType" value="hideSubjectInstances" class="btn btn-dark box-shw"><i class="bi bi-eye mx-1 pe-1"></i>Hide Instances</button>
                                    </form>
                                </div>
                            </div>
                            <!-- Subject Instances Table -->
                            <div class="table-responsive">
                                @if (Model.SubjectInstances.Any())
                                {
                                    <table class="table table-striped table-hover table-bordered border-2 align-middle m-1">
                                        <thead>
                                            <tr class="text-center align-middle bg-secondary box-shw text-light">
                                                <th scope="col">Subject Instance ID</th>
                                                <th scope="col">Subject</th>
                                                <th scope="col">Subject Instance Name</th>
                                                <th scope="col">Subject Instance Code</th>
                                                <th scope="col">Lecturer ID</th>
                                                <th scope="col">Start Date</th>
                                                <th scope="col">End Date</th>
                                                <th scope="col">Subject Instance Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var subjectInstance in Model.SubjectInstances)
                                            {
                                                <tr>
                                                    <td class="text-center">@subjectInstance.SubjectInstanceId</td>
                                                    <td class="text-center">@subjectInstance.SubjectCode</td>
                                                    <td>@subjectInstance.SubjectInstanceName</td>
                                                    <td class="text-center">@subjectInstance.SubjectInstanceCode</td>
                                                    <td class="text-center">@subjectInstance.LecturerId</td>
                                                    <td class="text-center">@subjectInstance.StartDate</td>
                                                    <td class="text-center">@subjectInstance.EndDate</td>
                                                    <td class="text-center">@subjectInstance.SubjectInstanceYear</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>