@page
@model CSE3PAX.Pages.Admin.StaffManagementModel
@{
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
}

<!-- Container -->
<div class="mx-3">
    <!-- Page Heading-->
    <h1 class="admin-txt my-4 mx-3"><i class="bi bi-people pe-3"></i>Staff Management</h1>
    <p>Administrators are responsible for managing and maintaining current system users. The Staff Management section provides the functionality to complete essential tasks including adding new users, updating existing user details and removing previous users from the system.</p>
 
    <!-- Add User - heading & button -->
    <div class="mx-2 my-5">   
        <h4 class="admin-txt mt-4">Add User</h4>
    <a href="/Admin/CreateUser" class="btn btn-success box-shw my-1" style="width:130px;"><i class="bi bi-person-plus-fill mx-1 pe-1"></i>Add User</a>
    </div>

    <!-- Users Table Container -->
    <div class="table-responsive card box-shw p-3" style="max-height: 900px; overflow-y: auto;">

        <!-- Heading -->
        <div class="text-center">
            <h4 class="my-4 listHeading">Users List</h4>
        </div>

        <!-- Link to view users list -->
        <div class="mb-4 mx-3">
            <form method="post">
                <button type="submit" name="buttonType" value="users" class="btn btn-dark box-shw my-1 pe-3" style="width:130px;"><i class="bi bi-eye mx-1 pe-1"></i>View</button>
            </form>
        </div>

        <!--Display data from sql database -->
        @if (Model.Users.Any())
        {
            <div style="overflow-y: auto;">
                <table class="table table-striped table-hover table-bordered border-2 align-middle m-1">
                    <thead>
                        <tr class="text-center align-middle bg-secondary box-shw text-light">
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">User Type</th>
                            <th scope="col">Exp 1</th>
                            <th scope="col">Exp 2</th>
                            <th scope="col">Exp 3</th>
                            <th scope="col">Exp 4</th>
                            <th scope="col">Exp 5</th>
                            <th scope="col">Exp 6</th>
                            <th scope="col">Work Hours</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr class="ps-3">
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.UserType</td>
                                <td>@user.Expertise01</td>
                                <td>@user.Expertise02</td>
                                <td>@user.Expertise03</td>
                                <td>@user.Expertise04</td>
                                <td>@user.Expertise05</td>
                                <td>@user.Expertise06</td>
                                <td class="text-center">@user.WorkHours</td>
                                <td>
                                    <div class="text-center">
                                        <a href="/Admin/EditUser?email=@user.Email" class="btn btn-info btn-sm box-shw"><i class="bi bi-pencil-fill"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>