@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2> Lecturers </h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Concurrent Load Capacity</th>
            <th>Expertise Field 01</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listLecturers)
        {
            <tr>
               <td>@item.userID</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Email</td>
                <td>@item.ConcurrentLoadCapacity</td>
                <td>@item.ExpertiseFeild01</td>
            </tr>
        }
    </tbody>
</table>