@page
@model CSE3PAX.Pages.Shared.MyProfileModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"Generate Reports"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container-fluid py-5">
        <h1 class="mb-3" style="color: #3163bc"><i class="bi bi-person-circle" style="color: #3163bc"></i> My Profile</h1>
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card mb-4 w-100">
                        <div class="card-body text-center box-shw">
                            <img src="@Model.UserImage" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">@Model.FullName</h5>
                            <p class="text-muted mb-0">@Model.UserType</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card mb-4 w-100">
                        <div class="card-body box-shw">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">User ID</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-1">@Model.UserID</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-1">@Model.FullName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-1">@Model.Email</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">User Type</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-1">@Model.UserType</p>
                                </div>
                            </div>
                            @if (@Model.UserType == "Lecturer")
                            { 
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Work Hours</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-1">@Model.WorkHours</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (@Model.UserType == "Lecturer")
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @if (!string.IsNullOrEmpty(Model.Expertise01))
                                        {
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expertise 01</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.Expertise01</p>
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise02))
                                        {
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expertise 02</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.Expertise02</p>
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise03))
                                        {
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expertise 03</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.Expertise03</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-sm-6">
                                        @if (!string.IsNullOrEmpty(Model.Expertise04))
                                        {
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expertise 04</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.Expertise04</p>
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise05))
                                        {
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expertise 05</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.Expertise05</p>
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Expertise06))
                                        {
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expertise 06</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Model.Expertise06</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</body>
</html>